{% extends 'base.html' %}

{% block title %}Eliminar marca{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'marcas' %}">Marcas</a></li>
  <li class="breadcrumb-item active">Eliminar {{ marca.nombre }}</li>
{% endblock %}

  {% block content %}
    <form method="post" class="mb-4" novalidate>
      {% csrf_token %}
      {% include 'includes/form.html' %}
      <p>Are you sure you want to delete "{{ object }}"?</p>
      <a href="{% url 'edit_marca' marca.marca_id %}" class="btn btn-outline-secondary" role="button">Cancel</a>
      <button type="submit" class="btn btn-danger">Eliminar</button>
    </form>
{% endblock %}
