{% extends 'base.html' %}
{% load form_tags widget_tweaks %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'deposito' %}">Depósito</a></li>
{% endblock %}

{% block content %}
  <div class="container">
    <form class="form-inline" action="{% url 'deposito' %}" method="get"
          accept-charset="utf-8">
      <input type="number" class="form-control  col-sm-1 mb-1 mr-sm-2  mb-sm-0"
             id="inlineFormInput" name="item_id" placeholder="ID">

      <input type="number" class="form-control col-sm-2 mr-sm-0  mb-sm-0"
             id="inlineFormInput"
              name="barcode" placeholder="BARCODE">
      <a href="{{ qrdir }}" class="btn btn-sm btn-primary">
          Scan</a>

      <input type="text" class="form-control col-sm-5 ml-sm-2 mb-2 mr-sm-2 mb-sm-0"
             id="inlineFormInput"
               name="descripcion" placeholder="DESCRIPCION">
      <input type="text" class="form-control col-sm-2 mb-2 ml-sm-2 mr-sm-2 mb-sm-0"
             id="inlineFormInput"
              name="marca" placeholder="MARCA">
      <button class="btn btn-primary" type="submit">Buscar</button>
    </form>
  </div>
    <table class="table table-striped table-responsive" >
      <thead class="thead-inverse">
        <tr>
          <th>ID</th>
          <th>Barcode</th>
          <th>Descripción</th>
          <th>Marca</th>
          <th>Stock</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for item in productos %}
          <tr>
            <td>{{ item.item_id }}</td>
            <td>{{ item.barcode }}</td>
            <td>{{ item.descripcion }}</td>
            <td>{{ item.marca }}</td>
            <td>{{ item.stock }}</td>
            <td><a href="{% url 'edit_stock' item_id=item.item_id action='add' %}"
                   class="btn btn-success btn-sm btn-block">Ingresar</a>
              {% if item.stock %}
              <a href="{% url 'edit_stock' item_id=item.item_id action='sub' %}"
                 class="btn btn-warning btn-sm btn-block">Retirar</a>
              {% else %}
              <a href="{% url 'edit_stock' item_id=item.item_id action='sub' %}"
                 class="btn btn-warning btn-sm btn-block disabled"
                 aria-disabled="true">
                Retirar</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
      </table>
{% include 'includes/pagination.html' %}
{% endblock %}
