{% extends 'base.html' %}

{% block title %}Editar Producto{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'marcas' %}">Productos</a></li>
  <li class="breadcrumb-item active">Editar {{ item.item_id }}</li>
{% endblock %}

{% block content %}
  <form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Save changes</button>
    <a href="{% url 'productos' %}" class="btn btn-outline-secondary" role="button">Cancel</a>
  </form>
{% endblock %}
