{% extends 'base.html' %}

{% block title %}Editar marca{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'marcas' %}">Marcas</a></li>
  <li class="breadcrumb-item active">Editar {{ marca.nombre }}</li>
{% endblock %}

  {% block content %}
    <form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Guardar cambios</button>
    <a href="{% url 'marcas' %}" class="btn btn-outline-secondary" role="button">Cancel</a>
    <a href="{% url 'delete_marca' marca.marca_id  %}" class="btn btn-danger" role="button">Delete</a>
  </form>
{% endblock %}
