{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Productos</li>
{% endblock %}

{% block content %}
      <table class="table">
        <thead class="thead-inverse">
        <tr>
          <th>ID</th>
          <th>Descripción</th>
          <th>Marca</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        {% for item in productos %}
          <tr>
            <td>{{ item.item_id }}</td>
            <td>{{ item.descripcion }}</td>
            <td>{{ item.marca }}</td>
            <td class="align-middle">0</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
