{% extends 'base.html' %}

{% block title %}
  {{item.item_id }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'productos' %}">Productos</a></li>
  <li class="breadcrumb-item active">{{ item.descripcion }}</li>
{% endblock %}

  {% block content %}
  <table class="table table-triped table-sm table-responsive" >
        <tr>
          <th>ID</th>
          <td>{{ item.item_id }}</td>
        </tr>
        <tr>
          <th>Barcode</th>
          <td>{{ item.barcode }}</td>
        </tr>
        <tr>
          <th>Descripción</th>
          <td>{{ item.descripcion }}</td>
        </tr>
        <tr>
          <th>Marca</th>
          <td>{{ item.marca }}</td>
        </tr>
        <tr>
          <th>Precio</th>
          <td>{{ item.precio }}</td>
        </tr>
  </table>

  <ol class="breadcrumb my-4">
      <li class="breadcrumb-item"><h4>Estadísticas</h4></li>
    </ol>
  <div class="row">
    <!-- <section class="row text-center"> -->
    <div class="col-lg-6">
      <h3>Entrada / Salida</h3>
      <div class="row">
        <div class="col-lg-6">
          <p>Ingresados mes anterior = {{ stats.1.4 }}</p>
        </div>
        <div class="col-lg-6">
          <p>Retirados mes anterior = {{ stats.0.4 }}</p>
        </div>
      </div>
      <div>
      {% include 'googlechart.html' %}
      </div>
    </div>
    <div class="col-lg-6">
      <h2>Stock en depósito:
        {% if prom > 14 %}
        <span class="badge badge-success">{{ item.stock }}</span></h2>
        <h4>Fuera de stock en</h4>
        <p align="center"><h3> {{ prom }} días </h3></p>
        <p>Basado en promedio de retiros del último mes.</p>
        {% elif prom > 7 %}
        <span class="badge badge-warning">{{ item.stock }}</span></h2>
        <h4>Fuera de stock en</h4>
        <p align="center"><h3> {{ prom }} días </h3></p>
        <p>Basado en promedio de retiros del último mes.</p>
        {% elif item.stock %}
        <span class="badge badge-danger">{{ item.stock }}</span></h2>
        <h4>Fuera de stock en</h4>
        <p align="center"><h3> {{ prom }} días </h3></p>
        <p>Basado en promedio de retiros del último mes.</p>
        {% else %}
        <span class="badge badge-danger">{{ item.stock }}</span></h2>
        <h4>Sin stock</h4>
      {% endif %}
    </div>
   <div class="col-lg-4">
     <h2>Historial de precios:</h2>
     <table class="table table-striped">
       <tr>
         <td>Valor</td>
         <td>Fecha</td>
       </tr>
       {% for precio in precios %}
       <tr>
         <td>$ {{ precio.precio }} </td>
         <td>{{ precio.date }}</td>
       </tr>
     {% endfor %}
     </table>
   </div>
</div>
<ol class="breadcrumb my-4">
    <li class="breadcrumb-item"><h4>Logs</h4></li>
  </ol>

  <table class="table table-striped table-sm">
    <thead class="thead-inverse">
        <tr>
          <th>Fecha</th>
          <th>Operario</th>
          <th>Producto</th>
          <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
      {% for log in logs %}
      {% if log.action %}
      <tr class="table-success">
      {% else %}
      <tr class="table-danger">
      {% endif %}
      <td>{{ log.created_at }}</td>
      <td>{{ log.created_by }}</td>
      <td>{{ log.item }}</td>
      <td>{{ log.cantidad }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include 'includes/pagination.html' %}
{% endblock %}
