{% extends 'base.html' %}
{% load form_tags widget_tweaks %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'productos' %}">Productos</a></li>
{% endblock %}

{% block content %}
  <div class="mb-4">
    <a href="{% url 'new_item' %}" class="btn btn-success">Agregar Producto</a>
  </div>
  <table class="table table-triped">
    <form id="searchform" action="{% url 'productos' %}" method="get" accept-charset="utf-8">
      <thead class="thead">
      <tr>
        <th><input class="searchfield" id="searchbox" name="item_id"
                   type="text" placeholder="ID">
        </th>
        <th><input class="searchfield" id="searchbox" name="barcode"
                   type="text" placeholder="BARCODE">
        </th>
        <th><input class="searchfield" id="searchbox" name="descripcion"
                   type="text" placeholder="DESCRIPCION">
        </th>
        <th><input class="searchfield" id="searchbox" name="marca"
                   type="text" placeholder="MARCA">
        </th>
        <td><button class="btn btn-primary" type="submit">Search</button></td>
        </tr>
        </thead>
    </form>
        <thead class="thead-inverse">
        <tr>
          <th>ID</th>
          <th>Barcode</th>
          <th>Descripción</th>
          <th>Marca</th>
          <th>Precio</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for item in productos %}
          <tr>
            <td>{{ item.item_id }}</td>
            <td>{{ item.barcode }}</td>
            <td>{{ item.descripcion }}</td>
            <td>{{ item.marca }}</td>
            <td class="align-middle">0</td>
            <td  <span class="badge badge-default">
            <a href="{% url 'edit_item' item.item_id %}">Edit</a></span></td>
          </tr>
        {% endfor %}
      </tbody>
      </table>
{% include 'includes/pagination.html' %}
{% endblock %}
