{% extends 'base.html' %}

{% block title %}
  {{item.item_id }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'productos' %}">Productos</a></li>
  <li class="breadcrumb-item active">{{ item.descripcion }}</li>
{% endblock %}

  {% block content %}
  <table class="table table-triped table-sm table-responsive" >
        <tr>
          <th>ID</th>
          <td>{{ item.item_id }}</td>
        </tr>
        <tr>
          <th>Barcode</th>
          <td>{{ item.barcode }}</td>
        </tr>
        <tr>
          <th>Descripción</th>
          <td>{{ item.descripcion }}</td>
        </tr>
        <tr>
          <th>Marca</th>
          <td>{{ item.marca }}</td>
        </tr>
        <tr>
          <th>Precio</th>
          <td>0</td>
        </tr>
      </table>
  <ol class="breadcrumb my-4">
    <li class="breadcrumb-item">Logs</li>
  </ol>

  <table class="table table-striped">
    <form id="searchform" action="{% url 'item_logs' %}" method="get" accept-charset="utf-8">
      <thead class="thead">
      <tr>
        <th><input class="searchfield" id="searchbox" name="item"
                   type="text" placeholder="PRODUCTO">
        </th>
        <td><button class="btn btn-primary" type="submit">Search</button></td>
        </thead>
    </form>
    <thead class="thead-inverse">
        <tr>
          <th>Fecha</th>
          <th>Operario</th>
          <th>Producto</th>
          <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
      {% for log in logs %}
      {% if log.action %}
      <tr class="table-success">
      {% else %}
      <tr class="table-danger">
      {% endif %}
      <td>{{ log.created_at }}</td>
      <td>{{ log.created_by }}</td>
      <td>{{ log.item }}</td>
      <td>{{ log.cantidad }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% include 'includes/pagination.html' %}
{% endblock %}
