{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Productos</li>
{% endblock %}

{% block content %}
  <div class="mb-4">
    <a href="{% url 'new_item' %}" class="btn btn-primary">Agregar Producto</a>
  </div>
      <table class="table">
        <thead class="thead-inverse">
        <tr>
          <th>ID</th>
          <th>Descripción</th>
          <th>Marca</th>
          <th>Precio</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for item in productos %}
          <tr>
            <td>{{ item.item_id }}</td>
            <td>{{ item.descripcion }}</td>
            <td>{{ item.marca }}</td>
            <td class="align-middle">0</td>
            <td  <span class="badge badge-default">
            <a href="/productos/">Edit</a></span></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
