{% extends 'base.html' %}
{% load form_tags widget_tweaks %}
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'marcas' %}">Marcas</a></li>
{% endblock %}

{% block content %}
  <div class="mb-4">
    <a href="{% url 'new_marca' %}" class="btn btn-success">Agregar Marca</a>
  </div>
  <table class="table table-striped">
    <form id="searchform" action="{% url 'marcas' %}" method="get" accept-charset="utf-8">
      <thead class="thead">
      <tr>
        <th><input class="searchfield" id="searchbox" name="nombre"
                   type="text" placeholder="NOMBRE">
        </th>
        <td><button class="btn btn-primary" type="submit">Search</button></td>
        </thead>
    </form>
    <thead class="thead-inverse">
        <tr>
          <th>Marca</th>
          <th></th>
        </tr>
    </thead>
    <tbody>
      {% for marca in marcas %}
      <tr>
        <td>{{ marca.nombre }}</td>
        <td><span class="badge badge-default">
            <a href="{% url 'edit_marca' marca.marca_id %}">Edit</a></span></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% include 'includes/pagination.html' %}
{% endblock %}
