{% extends 'base.html' %}
{% load form_tags widget_tweaks %}
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'marcas' %}">Marcas</a></li>
{% endblock %}

{% block content %}
  <div class="mb-4">
    <a href="{% url 'new_marca' %}" class="btn btn-success">Agregar Marca</a>
  </div>
  <div class="container">
    <form class="form-inline" action="{% url 'marcas' %}" method="get"
          accept-charset="utf-8">
      <input class="form-control  col-sm-3 mb-1 mr-sm-2  mb-sm-0"
             id="searchbox" name="nombre" type="text" placeholder="NOMBRE">
      <button class="btn btn-primary" type="submit">Buscar</button>
    </form>
  <div>
  <table class="table table-striped">
    <thead class="thead-inverse">
        <tr>
          <th>Marca</th>
          <th></th>
        </tr>
    </thead>
    <tbody>
      {% for marca in marcas %}
      <tr>
        <td>{{ marca.nombre }}</td>
        {% if user.is_superuser %}
        <td><span class="badge badge-default">
            <a href="{% url 'edit_marca' marca.marca_id %}">Editar</a></span></td>
        {% else %}
         <td></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% include 'includes/pagination.html' %}
{% endblock %}
