{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"> Marcas</li>
{% endblock %}

{% block content %}
  <div class="mb-4">
    <a href="{% url 'new_marca' %}" class="btn btn-primary">Agregar Marca</a>
  </div>

  <table class="table table-striped">
    <thead class="thead-inverse">
        <tr>
          <th>Marca</th>
          <th></th>
        </tr>
    </thead>
    <tbody>
      {% for marca in marcas %}
      <tr>
        <td>{{ marca.nombre }}</td>
        <td><span class="badge badge-default">
            <a href="/marcas/marca.marca_id/">Edit</a></span></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
