{% extends 'base.html' %}

{% block title %}Agregar Marca{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'marcas' %}">Marcas</a></li>
  <li class="breadcrumb-item active">Nueva marca</li>
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_nombre">Nombre</label>
      <input type="text" class="form-control" id="id_nombre" name="nombre">
    </div>
    <button type="submit" class="btn btn-success">Agregar</button>
  </form>
{% endblock %}
