{% extends 'base.html' %}
{% load form_tags widget_tweaks %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Nuevo Remito</a></li>
<li class="breadcrumb-item active">Remito {{ remito_id }}</a></li>
{% endblock %}

{% block content %}
<table class="table table-triped table-sm table-responsive" >
    <form id="searchform" action="{% url 'new_remito_field' remito_id  %}" method="get" accept-charset="utf-8">
      <thead class="thead">
      <tr>
        <th><input class="searchfield" id="searchbox" name="item_id"
                   type="text" placeholder="ID">
        </th>
        <th><input class="searchfield" id="searchbox" name="barcode"
                   type="text" placeholder="BARCODE">
        </th>
        <td><a href="{{ qrdir }}" class="btn btn-primary">
            Scan</a></td>
        <th><input class="searchfield" id="searchbox" name="descripcion"
                   type="text" placeholder="DESCRIPCION">
        </th>
        <th><input class="searchfield" id="searchbox" name="marca"
                   type="text" placeholder="MARCA">
        </th>
        <td><button class="btn btn-primary" type="submit">Search</button></td>
        </thead>
    </form>
        <thead class="thead-inverse">
        <tr>
          <th>ID</th>
          <th>Barcode</th>
          <th>Descripción</th>
          <th>Marca</th>
          <th>Stock</th>
          <th>Cantidad</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for item in productos %}
          <tr>
            <td>{{ item.item_id }}</td>
            <td>{{ item.barcode }}</td>
            <td>{{ item.descripcion }}</td>
            <td>{{ item.marca }}</td>
            <td>{{ item.stock }}</td>
            <form id="addform" action="{% url 'remito_field' item_id=item.item_id remito_id=remito_id  %}" method="get" accept-charset="utf-8">
            <td><input class="inputfield"  name="cantidad_{{ item.item_id }}"
                         type="number" placeholder="CANTIDAD">
            </td>
            <td>
              <button class="btn btn-primary" type="submit">Agregar</button>
            </td>
            </form>
          </tr>
        {% endfor %}
      </tbody>
  </table>
{% include 'includes/pagination.html' %}
{% endblock %}
