{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Crear Remito{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'remitos' %}">Remitos</a></li>
  <li class="breadcrumb-item active">Nuevo Remito</li>
{% endblock %}

{% block content %}
<form method="post" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Crear</button>
    <a href="{% url 'remitos' %}" class="btn btn-warning">Cancelar</a>
</form>
{% endblock %}
