Saludos,

Alguien pidió el restablecimiento del password para esta dirección de correo
{{ email }}.
Siga el siguiente link:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid
token=token %}

En caso de haber olvidado su nombre de usuario de SIDE Manager:
{{ user.username }}

Si el link de arriba no funciona, por favor copie y pegue la URL en su
navegador.

Si está recibiendo este email por error, no debe tomar ninguna acción y puede
desestimar este email.

Gracias,

Servicios Integrales De Electricidad
